.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
}

#goals {
  width: 35rem;
  max-width: 80%;
  margin: 3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 80%;
  margin: 3rem 3rem;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}